<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShopPrototype</title>
    <link rel="stylesheet" href="../../static/cart/css/main.css">
</head>
<body>
    <div class="header">
      <a href="/"><span class="logo">Shop Prototype</span></a>
      <nav>
        <a href="/catalog">Catalog</a>
        <a href="/contacts">Contacts</a>
        <a href="/about_us">About Us</a>
          <a href="/cart/basket"><img src="../../static/main/img/shopping_cart_icon.svg" alt="Shopping Cart"></a> <!-- Значок корзины -->
        <a href="/users/profile"><img src="../../static/main/img/profile.svg" alt="Profile"></a> <!-- Значок профиля -->
      </nav>
    </div>
    <div class="form-container">
        <form method="post" action="{% url 'cart:buy' %}">
            {% csrf_token %}
            <input type="text" name="user_name" placeholder="Name" required>
            <input type="text" name="user_surname" placeholder="Surname" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="number_phone" placeholder="Phone Number" required>
            <input type="text" name="city" placeholder="City" required>
            <input type="text" name="house_number" placeholder="House Number" required>
            <input type="text" name="street" placeholder="Street" required>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>