<!DOCTYPE html>
<html>
<head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   0 <link rel="shortcut icon" href="/static/icon/icon.png">-->
<!--    <script src="/static/js/jquery-3.6.4.js"></script>-->
    <link rel="stylesheet" href="../../static/main/css/information_pages.css">
    <meta charset="UTF-8">
    <title>ShopPrototype</title>
</head>
<body>
  <div class="header">
    <a href="/"><span class="logo">Shop Prototype</span></a>
    <nav>
      <a href="/catalog">Catalog</a>
      <a href="/contacts">Contacts</a>
      <a href="/about_us">About Us</a>
        <a href="/cart/basket"><img src="../../static/main/img/shopping_cart_icon.svg" alt="Shopping Cart" style="vertical-align: middle;"></a> <!-- Значок корзины -->
      <a href="/users/profile"><img src="../../static/main/img/profile.svg" alt="Profile" style="vertical-align: middle;"></a> <!-- Значок профиля -->
    </nav>
  </div>
  <div class="content">
    <h1>About Us</h1>
    <p>Welcome to Shop Prototype, your premier destination for the finest selection of elite alcohol. We pride ourselves on offering a curated collection of top-quality spirits from around the world.</p>

    <p>At Shop Prototype, we understand that true connoisseurs value exceptional craftsmanship and unique flavors. That's why our team of experts meticulously handpicks each product to ensure an unparalleled drinking experience for our customers.</p>

    <p>With a focus on exclusivity and luxury, we cater to those who appreciate the finer things in life. Whether you're looking for rare whiskies, exquisite liqueurs, refined brandies, or premium vodkas, we have a wide range of options to suit every discerning palate.</p>

    <p>Our commitment to exceptional service extends beyond the products we offer. We strive to provide a seamless online shopping experience, with secure transactions, prompt delivery, and dedicated customer support. Your satisfaction is our top priority.</p>

    <p>Thank you for choosing Shop Prototype. Explore our collection and elevate your drinking experience with the best selection of elite alcohol.</p>
  </div>
</body>
</html>
