<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   0 <link rel="shortcut icon" href="/static/icon/icon.png">-->
<!--    <script src="/static/js/jquery-3.6.4.js"></script>-->
    <link rel="stylesheet" href="../../static/main/css/information_pages.css">
    <meta charset="UTF-8">
    <title>ShopPrototype</title>
</head>
<body>
  <div class="header">
    <a href="/"><span class="logo">Shop Prototype</span></a>
    <nav>
      <a href="/catalog">Catalog</a>
      <a href="/contacts">Contacts</a>
      <a href="/about_us">About Us</a>
        <a href="/cart/basket"><img src="../../static/main/img/shopping_cart_icon.svg" alt="Shopping Cart" style="vertical-align: middle;"></a> <!-- Значок корзины -->
      <a href="/users/profile"><img src="../../static/main/img/profile.svg" alt="Profile" style="vertical-align: middle;"></a> <!-- Значок профиля -->
    </nav>
  </div>
  <div class="content">
    <div class="contact-info">
      <h3>Contacts</h3>
      <p><strong>Email:</strong> info@shopprototype.com</p>
      <p><strong>Phone:</strong> +1 123-456-7890</p>
      <p><strong>Address:</strong> 123 Main Street, City, Country</p>
    </div>
  </div>
</body>
</html>